PORT=3000
NODE_ENV=production
# Di server, ganti localhost dengan IP Public atau domain kamu jika perlu, 
# tapi karena ada Nginx proxy, http://localhost:3000 juga seringkali oke untuk internal.
# Namun untuk aman, gunakan IP Public: http://3.151.122.191:3000
BASE_URL=http://3.151.122.191:3000

# Jika pakai SQLite (file database akan ada di dalam container/volume)
DATABASE_URL="file:../src/sv-fs.sqlite"

# Jika nanti pakai MySQL/Postgres, uncomment & isi ini:
# DB_PORT=3306
# DB_USERNAME=root
# DB_PASSWORD=password
# DB_NAME=sv_fs
# DB_HOST=host.docker.internal
# DB_DIALECT=mysql

JWT_ACCESS_TOKEN_SECRET="ganti_dengan_secret_yang_panjang_dan_aman_di_server"